nr/.miservidor.json.backup
[{"id":"9a61ffc8.cbaba","type":"tab","label":"UI","disabled":false,"info":""},{"id":"51ed7a76.4e6e84","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Datos en tiempo real","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6a3ec9b2.cf88b8","type":"ui_tab","z":"","name":"Monitoreo","icon":"dashboard","order":1},{"id":"5013a8b.ed88ed8","type":"ui_link","z":"","name":"Contacto","link":"http://www.geckotronics.pe","icon":"open_in_browser","target":"newtab","order":2},{"id":"7f590a00.5b9f","type":"ui_group","z":"","name":"Raspberry Pi 01","tab":"6a3ec9b2.cf88b8","order":1,"disp":true,"width":"6"},{"id":"59aef2e3.4eea0c","type":"ui_group","z":"","name":"Raspberry Pi 02","tab":"6a3ec9b2.cf88b8","order":2,"disp":true,"width":"6"},{"id":"5e450626.47d2e8","type":"mqtt-broker","z":"","broker":"m13.cloudmqtt.com","port":"16613","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"130a40e3.808e4f","type":"ui_chart","z":"9a61ffc8.cbaba","name":"","group":"7f590a00.5b9f","order":1,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":566.5,"y":137,"wires":[[],[]]},{"id":"4a0f2de2.7f659c","type":"ui_chart","z":"9a61ffc8.cbaba","name":"","group":"7f590a00.5b9f","order":2,"width":0,"height":0,"label":"Humedad","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":553,"y":172,"wires":[[],[]]},{"id":"835a7e9c.00554","type":"comment","z":"9a61ffc8.cbaba","name":"Raspberry Pi 01","info":"","x":138.5,"y":98,"wires":[]},{"id":"9dad3c4e.215d18","type":"mqtt in","z":"9a61ffc8.cbaba","name":"","topic":"rpi01/dht11","qos":"0","broker":"5e450626.47d2e8","x":175.5,"y":155,"wires":[["87f6d340.d73c08"]]},{"id":"87f6d340.d73c08","type":"json","z":"9a61ffc8.cbaba","name":"","pretty":false,"x":291.5,"y":213,"wires":[["a09b1eac.fc0ef","3dd475a7.e8f862"]]},{"id":"a09b1eac.fc0ef","type":"function","z":"9a61ffc8.cbaba","name":"","func":"msg1 = {};\nmsg2 = {};\n\nmsg1.payload = msg.payload.Temp;\nmsg1.topic = \"Temperatura\";\n\nmsg2.payload = msg.payload.Humidity;\nmsg2.topic = \"Humedad\";\n\nreturn [msg1,msg2];","outputs":"2","noerr":0,"x":405.5,"y":154,"wires":[["130a40e3.808e4f"],["4a0f2de2.7f659c"]]},{"id":"3dd475a7.e8f862","type":"debug","z":"9a61ffc8.cbaba","name":"rpi01/dht11","active":true,"console":"false","complete":"payload","x":454,"y":213,"wires":[]},{"id":"5a7815dd.c744c4","type":"ui_chart","z":"9a61ffc8.cbaba","name":"","group":"7f590a00.5b9f","order":3,"width":0,"height":0,"label":"Presión","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":549.5,"y":293,"wires":[[],[]]},{"id":"81247567.d58f8","type":"mqtt in","z":"9a61ffc8.cbaba","name":"","topic":"rpi01/bmp180","qos":"0","broker":"5e450626.47d2e8","x":172,"y":276,"wires":[["37465c13.b28f6c"]]},{"id":"37465c13.b28f6c","type":"json","z":"9a61ffc8.cbaba","name":"","pretty":false,"x":288,"y":334,"wires":[["7b756e42.a9c228","31d7b3e.e0e4ecc"]]},{"id":"7b756e42.a9c228","type":"debug","z":"9a61ffc8.cbaba","name":"rpi01/bmp180","active":true,"console":"false","complete":"payload","x":460.5,"y":334,"wires":[]},{"id":"b1d90ed6.ace3e8","type":"ui_chart","z":"9a61ffc8.cbaba","name":"","group":"59aef2e3.4eea0c","order":1,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#2ca02c","#aec7e8","#ff7f0e","#1f77b4","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":569,"y":477,"wires":[[],[]]},{"id":"7e3e56e6.2990a","type":"ui_chart","z":"9a61ffc8.cbaba","name":"","group":"59aef2e3.4eea0c","order":2,"width":0,"height":0,"label":"Humedad","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#2ca02c","#aec7e8","#ff7f0e","#1f77b4","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":555.5,"y":512,"wires":[[],[]]},{"id":"634015f1.9faa04","type":"comment","z":"9a61ffc8.cbaba","name":"Raspberry Pi 02","info":"","x":141,"y":438,"wires":[]},{"id":"699932df.98421c","type":"mqtt in","z":"9a61ffc8.cbaba","name":"","topic":"rpi02/dht11","qos":"0","broker":"5e450626.47d2e8","x":178,"y":495,"wires":[["fb6a33af.b1755"]]},{"id":"fb6a33af.b1755","type":"json","z":"9a61ffc8.cbaba","name":"","pretty":false,"x":294,"y":553,"wires":[["24549227.bb9a2e","7b42a.522cbbd6c"]]},{"id":"24549227.bb9a2e","type":"function","z":"9a61ffc8.cbaba","name":"","func":"msg1 = {};\nmsg2 = {};\n\nmsg1.payload = msg.payload.Temp;\nmsg1.topic = \"Temperatura\";\n\nmsg2.payload = msg.payload.Humidity;\nmsg2.topic = \"Humedad\";\n\nreturn [msg1,msg2];","outputs":"2","noerr":0,"x":408,"y":494,"wires":[["b1d90ed6.ace3e8"],["7e3e56e6.2990a"]]},{"id":"7b42a.522cbbd6c","type":"debug","z":"9a61ffc8.cbaba","name":"rpi02/dht11","active":true,"console":"false","complete":"payload","x":456.5,"y":553,"wires":[]},{"id":"c7198f88.d00238","type":"ui_chart","z":"9a61ffc8.cbaba","name":"","group":"59aef2e3.4eea0c","order":3,"width":0,"height":0,"label":"Presión","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#2ca02c","#aec7e8","#ff7f0e","#1f77b4","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":552,"y":633,"wires":[[],[]]},{"id":"e1022b31.dab8a8","type":"mqtt in","z":"9a61ffc8.cbaba","name":"","topic":"rpi02/bmp180","qos":"0","broker":"5e450626.47d2e8","x":174.5,"y":616,"wires":[["5538cb8d.ffe6bc"]]},{"id":"5538cb8d.ffe6bc","type":"json","z":"9a61ffc8.cbaba","name":"","pretty":false,"x":290.5,"y":674,"wires":[["bd680e6c.c6fc9","7ace57b4.22cdd8"]]},{"id":"bd680e6c.c6fc9","type":"debug","z":"9a61ffc8.cbaba","name":"rpi02/bmp180","active":true,"console":"false","complete":"payload","x":463,"y":674,"wires":[]},{"id":"31d7b3e.e0e4ecc","type":"function","z":"9a61ffc8.cbaba","name":"","func":"msg.payload = msg.payload.Pressure;\nreturn msg;","outputs":1,"noerr":0,"x":416.5,"y":292,"wires":[["5a7815dd.c744c4"]]},{"id":"7ace57b4.22cdd8","type":"function","z":"9a61ffc8.cbaba","name":"","func":"msg.payload = msg.payload.Pressure;\nreturn msg;","outputs":1,"noerr":0,"x":414,"y":634,"wires":[["c7198f88.d00238"]]},{"id":"8dcb754b.f25a68","type":"tcp request","z":"9a61ffc8.cbaba","server":"","port":"","out":"time","splitc":"0","name":"","x":335.5,"y":985,"wires":[[]]}]