nr/miservidor.json
[{"id":"9a61ffc8.cbaba","type":"tab","label":"UI","disabled":false,"info":""},{"id":"8e5ee74f.4bfbf","type":"tab","label":"firebase","disabled":false,"info":""},{"id":"51ed7a76.4e6e84","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Datos en tiempo real","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6a3ec9b2.cf88b8","type":"ui_tab","z":"","name":"Monitoreo","icon":"dashboard","order":1},{"id":"5013a8b.ed88ed8","type":"ui_link","z":"","name":"Contacto","link":"http://www.geckotronics.pe","icon":"open_in_browser","target":"newtab","order":2},{"id":"7f590a00.5b9f","type":"ui_group","z":"","name":"Raspberry Pi 01","tab":"6a3ec9b2.cf88b8","order":1,"disp":true,"width":"6"},{"id":"59aef2e3.4eea0c","type":"ui_group","z":"","name":"Raspberry Pi 02","tab":"6a3ec9b2.cf88b8","order":2,"disp":true,"width":"6"},{"id":"5e450626.47d2e8","type":"mqtt-broker","z":"","broker":"m13.cloudmqtt.com","port":"16613","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"8b0ae52c.8f3628","type":"twitter-credentials","z":"","screen_name":"@dendrobytes"},{"id":"b3454bee.b07118","type":"firebase config","z":"","firebaseurl":"dendro-43a92","loginType":"none"},{"id":"26baf4f7.a21c1c","type":"mqtt-broker","z":"","broker":"m13.cloudmqtt.com","port":"16613","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"130a40e3.808e4f","type":"ui_chart","z":"9a61ffc8.cbaba","name":"","group":"7f590a00.5b9f","order":1,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":566.5,"y":137,"wires":[[],[]]},{"id":"4a0f2de2.7f659c","type":"ui_chart","z":"9a61ffc8.cbaba","name":"","group":"7f590a00.5b9f","order":2,"width":0,"height":0,"label":"Humedad","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":553,"y":172,"wires":[[],[]]},{"id":"835a7e9c.00554","type":"comment","z":"9a61ffc8.cbaba","name":"Raspberry Pi 01","info":"","x":138.5,"y":98,"wires":[]},{"id":"9dad3c4e.215d18","type":"mqtt in","z":"9a61ffc8.cbaba","name":"","topic":"rpi01/dht11","qos":"0","broker":"5e450626.47d2e8","x":175.5,"y":155,"wires":[["87f6d340.d73c08"]]},{"id":"87f6d340.d73c08","type":"json","z":"9a61ffc8.cbaba","name":"","pretty":false,"x":291.5,"y":213,"wires":[["a09b1eac.fc0ef","3dd475a7.e8f862"]]},{"id":"a09b1eac.fc0ef","type":"function","z":"9a61ffc8.cbaba","name":"","func":"msg1 = {};\nmsg2 = {};\n\nmsg1.payload = msg.payload.Temp;\nmsg1.topic = \"Temperatura\";\n\nmsg2.payload = msg.payload.Humidity;\nmsg2.topic = \"Humedad\";\n\nreturn [msg1,msg2];","outputs":"2","noerr":0,"x":405.5,"y":154,"wires":[["130a40e3.808e4f"],["4a0f2de2.7f659c"]]},{"id":"3dd475a7.e8f862","type":"debug","z":"9a61ffc8.cbaba","name":"rpi01/dht11","active":true,"console":"false","complete":"payload","x":454,"y":213,"wires":[]},{"id":"5a7815dd.c744c4","type":"ui_chart","z":"9a61ffc8.cbaba","name":"","group":"7f590a00.5b9f","order":3,"width":0,"height":0,"label":"Presi贸n","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":549.5,"y":293,"wires":[[],[]]},{"id":"81247567.d58f8","type":"mqtt in","z":"9a61ffc8.cbaba","name":"","topic":"rpi01/bmp180","qos":"0","broker":"5e450626.47d2e8","x":172,"y":276,"wires":[["37465c13.b28f6c"]]},{"id":"37465c13.b28f6c","type":"json","z":"9a61ffc8.cbaba","name":"","pretty":false,"x":288,"y":334,"wires":[["7b756e42.a9c228","31d7b3e.e0e4ecc"]]},{"id":"7b756e42.a9c228","type":"debug","z":"9a61ffc8.cbaba","name":"rpi01/bmp180","active":true,"console":"false","complete":"payload","x":460.5,"y":334,"wires":[]},{"id":"b1d90ed6.ace3e8","type":"ui_chart","z":"9a61ffc8.cbaba","name":"","group":"59aef2e3.4eea0c","order":1,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#2ca02c","#aec7e8","#ff7f0e","#1f77b4","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":569,"y":477,"wires":[[],[]]},{"id":"7e3e56e6.2990a","type":"ui_chart","z":"9a61ffc8.cbaba","name":"","group":"59aef2e3.4eea0c","order":2,"width":0,"height":0,"label":"Humedad","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#2ca02c","#aec7e8","#ff7f0e","#1f77b4","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":555.5,"y":512,"wires":[[],[]]},{"id":"634015f1.9faa04","type":"comment","z":"9a61ffc8.cbaba","name":"Raspberry Pi 02","info":"","x":141,"y":438,"wires":[]},{"id":"699932df.98421c","type":"mqtt in","z":"9a61ffc8.cbaba","name":"","topic":"rpi02/dht11","qos":"0","broker":"5e450626.47d2e8","x":178,"y":495,"wires":[["fb6a33af.b1755"]]},{"id":"fb6a33af.b1755","type":"json","z":"9a61ffc8.cbaba","name":"","pretty":false,"x":294,"y":553,"wires":[["24549227.bb9a2e","7b42a.522cbbd6c"]]},{"id":"24549227.bb9a2e","type":"function","z":"9a61ffc8.cbaba","name":"","func":"msg1 = {};\nmsg2 = {};\n\nmsg1.payload = msg.payload.Temp;\nmsg1.topic = \"Temperatura\";\n\nmsg2.payload = msg.payload.Humidity;\nmsg2.topic = \"Humedad\";\n\nreturn [msg1,msg2];","outputs":"2","noerr":0,"x":408,"y":494,"wires":[["b1d90ed6.ace3e8"],["7e3e56e6.2990a"]]},{"id":"7b42a.522cbbd6c","type":"debug","z":"9a61ffc8.cbaba","name":"rpi02/dht11","active":true,"console":"false","complete":"payload","x":456.5,"y":553,"wires":[]},{"id":"c7198f88.d00238","type":"ui_chart","z":"9a61ffc8.cbaba","name":"","group":"59aef2e3.4eea0c","order":3,"width":0,"height":0,"label":"Presi贸n","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#2ca02c","#aec7e8","#ff7f0e","#1f77b4","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":552,"y":633,"wires":[[],[]]},{"id":"e1022b31.dab8a8","type":"mqtt in","z":"9a61ffc8.cbaba","name":"","topic":"rpi02/bmp180","qos":"0","broker":"5e450626.47d2e8","x":174.5,"y":616,"wires":[["5538cb8d.ffe6bc"]]},{"id":"5538cb8d.ffe6bc","type":"json","z":"9a61ffc8.cbaba","name":"","pretty":false,"x":290.5,"y":674,"wires":[["bd680e6c.c6fc9","7ace57b4.22cdd8"]]},{"id":"bd680e6c.c6fc9","type":"debug","z":"9a61ffc8.cbaba","name":"rpi02/bmp180","active":true,"console":"false","complete":"payload","x":463,"y":674,"wires":[]},{"id":"31d7b3e.e0e4ecc","type":"function","z":"9a61ffc8.cbaba","name":"","func":"msg.payload = msg.payload.Pressure;\nreturn msg;","outputs":1,"noerr":0,"x":416.5,"y":292,"wires":[["5a7815dd.c744c4"]]},{"id":"7ace57b4.22cdd8","type":"function","z":"9a61ffc8.cbaba","name":"","func":"msg.payload = msg.payload.Pressure;\nreturn msg;","outputs":1,"noerr":0,"x":414,"y":634,"wires":[["c7198f88.d00238"]]},{"id":"a6abc9c5.d9541","type":"function","z":"8e5ee74f.4bfbf","name":"","func":"t = msg.topic;\np = msg.payload.toString();\nif(t == \"tweets/Sismos_Peru_IGP\" || t == \"tweets/kranfix\"){\n    lineas = p.split(\"\\n\");\n    gps = lineas[2].split(\" \");\n    La = gps[0].split(\"-\");\n    Lo = gps[1].split(\"-\");\n    p = {\n        \"La\":Number(La[1]),\n        \"Lo\":Number(Lo[1])\n    };\n    msg = {\n        payload:p,\n        topic: \"leido\"\n    };\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":100,"wires":[["e282b01f.362bd"]]},{"id":"69dd4e8.294983","type":"debug","z":"8e5ee74f.4bfbf","name":"Debug1","active":true,"console":"false","complete":"true","x":620,"y":140,"wires":[]},{"id":"9c609061.e1eb7","type":"twitter in","z":"8e5ee74f.4bfbf","twitter":"8b0ae52c.8f3628","tags":"@jenazads","user":"true","name":"Sismos_Peru_IGP","topic":"tweets","inputs":0,"x":150,"y":100,"wires":[["a6abc9c5.d9541"]]},{"id":"e282b01f.362bd","type":"firebase modify","z":"8e5ee74f.4bfbf","name":"set epicentro","firebaseconfig":"b3454bee.b07118","childpath":"epicentro","method":"set","value":"msg.payload","priority":"msg.priority","x":510,"y":200,"wires":[["69dd4e8.294983"]]},{"id":"56df795a.b5e48","type":"inject","z":"8e5ee74f.4bfbf","name":"","topic":"","payload":"{\"La\":37,\"Lo\":-122}","payloadType":"json","repeat":"","crontab":"","once":false,"x":270,"y":160,"wires":[["e282b01f.362bd"]]},{"id":"ca6ddd02.62d668","type":"inject","z":"8e5ee74f.4bfbf","name":"","topic":"","payload":"{\"La\":15,\"Lo\":9}","payloadType":"json","repeat":"","crontab":"","once":false,"x":260,"y":200,"wires":[["e282b01f.362bd"]]},{"id":"de282098.9fbce8","type":"inject","z":"8e5ee74f.4bfbf","name":"","topic":"","payload":"{\"La\":12,\"Lo\":5}","payloadType":"json","repeat":"","crontab":"","once":false,"x":260,"y":240,"wires":[["e282b01f.362bd"]]},{"id":"86cc760b.2fbda","type":"firebase.on","z":"8e5ee74f.4bfbf","name":"riesgo","firebaseconfig":"b3454bee.b07118","childpath":"riesgo","atStart":true,"eventType":"child_added","queries":[],"x":110,"y":340,"wires":[["26e4f352.a346e4"]]},{"id":"e4eee50c.2c8548","type":"debug","z":"8e5ee74f.4bfbf","name":"DebugRiesgo","active":false,"console":"false","complete":"true","x":320,"y":340,"wires":[]},{"id":"43a14e4b.c5f64","type":"inject","z":"8e5ee74f.4bfbf","name":"u0:1","topic":"u0;g0;g1","payload":"{\"La\":12,\"Lo\":9,\"status\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":190,"y":880,"wires":[["a3e7ae51.44a67"]]},{"id":"2cc130c6.807398","type":"comment","z":"8e5ee74f.4bfbf","name":"test riesto U0","info":"","x":190,"y":800,"wires":[]},{"id":"83e7e5d4.5788a8","type":"inject","z":"8e5ee74f.4bfbf","name":"u0:2","topic":"u0;g0;g1","payload":"{\"La\":12,\"Lo\":9,\"status\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"x":190,"y":840,"wires":[["a3e7ae51.44a67"]]},{"id":"c4cd66af.bcfd88","type":"inject","z":"8e5ee74f.4bfbf","name":"u0:0","topic":"u0;g0;g1","payload":"null","payloadType":"json","repeat":"","crontab":"","once":false,"x":190,"y":920,"wires":[["a3e7ae51.44a67"]]},{"id":"ddca952e.3e1d1","type":"firebase modify","z":"8e5ee74f.4bfbf","name":"setUserInRisk","firebaseconfig":"b3454bee.b07118","childpath":"msg.childpath","method":"set","value":"msg.payload","priority":"msg.priority","x":420,"y":740,"wires":[["81ca2c9d.62a5c8"]]},{"id":"a3e7ae51.44a67","type":"link out","z":"8e5ee74f.4bfbf","name":"test riesgo U0 out","links":["dbda3c78.1f5a2"],"x":295,"y":880,"wires":[]},{"id":"dbda3c78.1f5a2","type":"link in","z":"8e5ee74f.4bfbf","name":"test riesto user in","links":["a3e7ae51.44a67","13d42c50.4d3604","774c70b1.d0e4c"],"x":175,"y":740,"wires":[["95212cd5.c24db"]]},{"id":"115baedd.2f18d1","type":"comment","z":"8e5ee74f.4bfbf","name":"test riesto U1","info":"","x":410,"y":800,"wires":[]},{"id":"13d42c50.4d3604","type":"link out","z":"8e5ee74f.4bfbf","name":"test riesgo U1 out","links":["dbda3c78.1f5a2"],"x":515,"y":880,"wires":[]},{"id":"7d82180b.9e7c58","type":"comment","z":"8e5ee74f.4bfbf","name":"test riesto U4","info":"","x":630,"y":800,"wires":[]},{"id":"774c70b1.d0e4c","type":"link out","z":"8e5ee74f.4bfbf","name":"test riesgo U1 out","links":["dbda3c78.1f5a2"],"x":735,"y":880,"wires":[]},{"id":"95212cd5.c24db","type":"function","z":"8e5ee74f.4bfbf","name":"","func":"temporal = msg.topic.split(\";\");\nuser = temporal[0];\n\nfor(var i = 1; i < temporal.length; i++){\n    node.send({\n        childpath:\"risk/\"+temporal[i]+\"/\"+user,\n        payload:msg.payload\n    });\n}\n\nmsg.childpath = \"riesgo/\"+msg.topic;\nreturn;","outputs":1,"noerr":0,"x":270,"y":740,"wires":[["ddca952e.3e1d1"]]},{"id":"b920a332.547ae8","type":"inject","z":"8e5ee74f.4bfbf","name":"u1:2","topic":"u1;g0","payload":"{\"La\":12,\"Lo\":9,\"status\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"x":410,"y":840,"wires":[["13d42c50.4d3604"]]},{"id":"9e0b0bf9.873e1","type":"inject","z":"8e5ee74f.4bfbf","name":"u1:1","topic":"u1;g0","payload":"{\"La\":12,\"Lo\":9,\"status\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":410,"y":880,"wires":[["13d42c50.4d3604"]]},{"id":"65f2e3a3.731a7c","type":"inject","z":"8e5ee74f.4bfbf","name":"u1:0","topic":"u1;g0","payload":"null","payloadType":"json","repeat":"","crontab":"","once":false,"x":410,"y":920,"wires":[["13d42c50.4d3604"]]},{"id":"5ef4d6e5.5d1d6","type":"inject","z":"8e5ee74f.4bfbf","name":"u4:2","topic":"u4;g1","payload":"{\"La\":12,\"Lo\":9,\"status\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"x":630,"y":840,"wires":[["774c70b1.d0e4c"]]},{"id":"124f111.350366f","type":"inject","z":"8e5ee74f.4bfbf","name":"u4:1","topic":"u4;g1","payload":"{\"La\":12,\"Lo\":9,\"status\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":630,"y":880,"wires":[["774c70b1.d0e4c"]]},{"id":"cc8c1f44.bc3f28","type":"inject","z":"8e5ee74f.4bfbf","name":"u4:0","topic":"u4;g1","payload":"null","payloadType":"json","repeat":"","crontab":"","once":false,"x":630,"y":920,"wires":[["774c70b1.d0e4c"]]},{"id":"81ca2c9d.62a5c8","type":"debug","z":"8e5ee74f.4bfbf","name":"DebugRiesg2","active":true,"console":"false","complete":"true","x":600,"y":740,"wires":[]},{"id":"d56c6a26.05baa8","type":"comment","z":"8e5ee74f.4bfbf","name":"Simulaci贸n de deteccci贸n de riesgo","info":"","x":200,"y":700,"wires":[]},{"id":"26e4f352.a346e4","type":"function","z":"8e5ee74f.4bfbf","name":"","func":"user = msg.key;\nmsg.childpath = \"users/\"+user+\"/groups\";\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":400,"wires":[["e4eee50c.2c8548","8261fb93.782268"]]},{"id":"8261fb93.782268","type":"firebase.once","z":"8e5ee74f.4bfbf","name":"get user group","firebaseconfig":"b3454bee.b07118","childpath":"msg.childpath","repeatifnull":false,"eventType":"value","queries":[],"x":340,"y":440,"wires":[["2e232501.1e316a"]]},{"id":"1118a194.49043e","type":"debug","z":"8e5ee74f.4bfbf","name":"DebugUserGroups","active":true,"console":"false","complete":"true","x":590,"y":340,"wires":[]},{"id":"2e232501.1e316a","type":"function","z":"8e5ee74f.4bfbf","name":"","func":"groups = msg.payload.split(\";\");\nmsg.payload = groups;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":380,"wires":[["1118a194.49043e"]]},{"id":"5feddc0c.16b9fc","type":"comment","z":"8e5ee74f.4bfbf","name":"Procesamiento de user en riesgo","info":"","x":170,"y":300,"wires":[]},{"id":"4d49684a.682978","type":"comment","z":"8e5ee74f.4bfbf","name":"Lectura epicentro de desastre","info":"","x":160,"y":60,"wires":[]},{"id":"777bdc7a.350d0c","type":"comment","z":"8e5ee74f.4bfbf","name":"Procesamiento de user fuera de riesgo","info":"","x":190,"y":520,"wires":[]},{"id":"16e66b7.00fa895","type":"firebase.on","z":"8e5ee74f.4bfbf","name":"riesgo","firebaseconfig":"b3454bee.b07118","childpath":"riesgo","atStart":true,"eventType":"child_removed","queries":[],"x":110,"y":560,"wires":[["1f9a2964.b2b367"]]},{"id":"1f9a2964.b2b367","type":"debug","z":"8e5ee74f.4bfbf","name":"","active":true,"console":"false","complete":"true","x":250,"y":560,"wires":[]}]